<h1><%=@passenger.full_name%> Are You Sure You Want to Check Out?</h1><br>

<%=@flight.flight_number%><br>
<%=@flight.plane%><br>
<%= button_to 'Purchase Ticket', {:passenger_id => session[:passenger]['id'], :flight_id=> @flight.id}%>